section.youtube
  .flex.flex--space-around
    .col-1
      .video-strip
      .flex-vedio
        iframe(src="https://www.youtube.com/embed/sJhhLvW-Xvg?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen)

    .col-1.order-first
      p.home-lead.outdent ...teaching everyone how to make website on YouTube...
      a.home-cta(href="https://youtube.com/devtipsfordesigners") Watch On YouTube
